
.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }


.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #756254;
}

.thanks__link {
    text-align: center;
}

.thanks__link-btn {
    display: inline-block;
    border-radius: 5px;
    background-color: #97877c;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
